* {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(0, 0, 0);

}

body {
    display: flex;
    justify-content: center;
}
.container {
    height: 476px;
    width: 304px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

button {
    border-radius: 50%;
    border-style: none;
    height: 64px;
    width: 64px;
    text-align: center;
    font-size: 28px;
    background-color: rgb(49,49,49);
}

.screen {
    align-self: stretch;
    font-size: 48px;
    text-align: end;
    padding-right: 24px;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.orange {
    background-color: rgb(246,154,45);
    
} 

.grey {
    background-color: rgba(160, 160, 160);
}